[LOGGER]
logdir_prefix=../logger

[WORDEMBEDDING]
method=WORD2VEC

[MODELTRAIN]
method=BiLSTMCRF

[WORD2VEC]
all_word_embedding_path=../embedding/merge_sgns_bigram_char300.pkl
choose_fraction=0.01
courpus_file=../datasets/BosonNLP_NER_6C/
courpus_name=BosonNLP_NER_6C
embedding_dim=300
entity_type=6
max_seq_len=64
tags_file=../datasets/BosonNLP_NER_6C/tags.txt

[BiLSTMCRF]
batch_size=64
device=cuda
embedding_dim=300
hidden_dim=200
num_rnn_layers=1
num_epoch=25
learning_rate=1e-3
model_path_prefix=../model/word2vec_bilstm_crf_ltp

[ENTITYLEVELF1]
average=micro
digits=2
return_report=False

[ActiveStrategy]
strategy=LTP
stop_echo=25
query_batch_fraction=0.02